.App {
  width: 100vw;
  height: 96vh;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinChat{
  width: 40vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.joinChat p{
  font-size: 2em;
  font-weight: bold;
}
.joinChat input{
  width: 20vw;
  height: 5vh;
  font-size: 1.2em;
}
.joinChat button{
  width: 10vw;
  height: 4vh;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  border: 1px solid green;
}
.joinChat button:hover{
  background-color: green;
  color: white;
}

@media only screen and (max-width: 500px) and (min-width : 280px){
  .joinChat{
    height: 40vh;
    width: 90vw;
  }
  .joinChat input{
    width: 50vw;
    border: 1px solid gray;
  }
  .joinChat button{
    width: 40vw;
  }
}
@media only screen and (min-width: 500px) and (max-width :950px){
  .joinChat{
    height: 40vh;
    width: 90vw;
  }
  .joinChat input{
    width: 50vw;
    border: 1px solid gray;
  }
  .joinChat button{
    width: 40vw;
  }
}